.about {
  margin-bottom: 150px;
  &__content {
    max-width: 560px;
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
  }
  &__title {
    margin-bottom: 100px;
    font-weight: 800;
    font-size: 64px;
    text-transform: uppercase;
    color: var(--black);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__item {
    padding: 10px 20px;
    border: 1px solid var(--blue);
    border-radius: 30px;
    font-weight: 700;
    font-size: 26px;
    color: var(--blue);
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.2);
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 600;
    font-size: 16px;
    color: var(--black);
    margin-top: auto;
  }
  &__img {
    position: relative;
  }
  &__link {
    position: absolute;
    right: 68px;
    bottom: 46px;
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 10px 20px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.3);
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
