.header {
  &__top {
    padding: 50px 0px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  }
  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    color: var(--white);
    background: var(--blue);
  }
  &__content {
  }
  &__info {
  }
  &__info-list {
  }
  &__info-item {
  }
  &__social {
  }
  &__social-list {
  }
  &__social-item {
  }
  &__social-links {
  }
  &__news {
  }
  &__news-box {
  }
  &__news-title {
  }
  &__news-time {
  }
  &__news-link {
  }
  &__news-img {
  }
  &__buttons {
  }
  &__buttons-book {
  }
  &__buttons-activities {
  }
}

.menu {
  &__list {
    display: flex;
    gap: 40px;
  }
  &__item {
  }
  &__linj {
  }
}
.icon {
}
.icon--phone-ico {
}
.title-img {
}
.title {	
}
.title-text {
}
.icon--face {
}
.icon--insta {
}
.icon--youtube {
}
.icon--whats {
}

.header__nav {
  @include tablet {
    display: none;
  }
}
